{
  "name": "NumberUtils",
  "label": "NumberUtils",
  "description": "Package for Number Manipulations",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "commands": []
}